* {
  box-sizing: border-box;
}

html, body {
  font-family: "lft-etica", "Helvetica Neue", Arial, sans-serif;
  /* height: 100vh; */
  margin: 0;
  color: #797166;
  background: #f5f3f0;
}



.main-header {
  top: 0;
  width: 100%;
  height: 47vh;
  align-content: center;
  z-index: 20;
}


.logo__container {
    background: url("images/background.jpg") left 0% bottom 70%/cover no-repeat border-box;
    background-attachment: fixed;
    width: 100%;
    height: 60%;
    text-align: center;
    margin: auto;
}


.logo__container a {
  /* background: linear-gradient(to right, rgba(245,243,240,1), 20%, rgba(0,0,0,.5), 80%, rgba(245,243,240,1)),linear-gradient(to bottom, rgba(0,0,0,1), 90%, white); */
  /* background: radial-gradient(red, #51525a, white); */
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  text-decoration: none;
  margin: 4.1rem 0 1.2rem 0;
  height: 35%;
}

.logo__date {
  font-size: 1.5rem;
  margin-bottom: .75rem;
  color: white;

}

.logo__container img {
  width: 50%;
  height: 50%;
}

#logo_subtitle-container {
  text-align: center;
  vertical-align: middle;
  width: 100%;
  margin: auto;
  background-color: #f5f3f0;
  display: inline-block;
  text-decoration: none;
  border-bottom-style: solid;
}



.logo__subtitle {
  font-family: 'Bitter', serif;
  font-size: 1.9rem;
  color: #5c626a;
  text-align: center;
  margin: 0;
}
.l-sub1 {
  margin-top: 1rem;
}

.subtitle-special {
  color: #c56c76;
  font-weight: bold;
}

.logo__button {
  margin: 2rem auto .6rem auto;
  font-size: 1.125rem;
  padding: .6rem 1rem;
  color: #f5f3f0;
  background: #c56c76;
  border: 1px solid #c56c76;
  border-radius: 8px;
}

.logo__button:hover,
.logo__button:active {
  background: #d9818b;
}

.stickIt {
  position: fixed;
  top: 0;
  width: 100%;

}

main {
  width: 100%;
  text-align: center;
}

.first-part {
  background: linear-gradient(rgba(0,0,0, .3),rgba(0,0,0, .3)),url("images/background.jpg") left 0% bottom 70%/cover no-repeat border-box;
  background-attachment: fixed;
  height: 53vh;
  width: 100%;
  margin:0 auto;
}

.quick-sell {
  padding: 2rem .5rem 2rem 2rem;
  max-width: 61rem;
  height: 50vh;
  display: block;
  text-align: center;
  margin: 0 auto 1rem auto;
}



.quick-sell__list-cotainer {
  width: 65%;
  text-align: justify;
  float: left;
}

.quick-sell__list-cotainer h3 {
  color: #f5f3f0;
  font-size: 1.495624rem;
  margin: .3rem 0 0 0;
}

.quick-sell_items {
  list-style-type: square;
  width: 100%;
  margin-top: .5rem;
  display: inline-block;
  /* border: 1px solid orange; */
  text-align: left;
  color: #f5f3f0;
}

.quick-sell_item {
  margin: 1rem;
  font-size: 1.4rem;
}

.quick-sell_item a {
  text-decoration: none;
  color: #f5f3f0;
}

.quick-sell_item a:hover,
 .quick-sell_item a:active{
  text-decoration:underline;
}

.quick-sell__aside-container {
  text-align: center;
  width: 33%;
  padding: 0.75rem;
  float: left;
}


.quick-sell__aside {
  color: #5c626a;
  font-size: 1.125rem;
  background: rgba(149, 185, 194, .9);
  border: 1px solid #ddd;
  padding: .75rem;
  margin: .5rem;
  box-shadow: 2px 2px 1px rgba(255, 255, 255, .4);
  text-shadow: 1px 0 0px #5c626a;
}

.quick-sell__aside a {
  color: #e45772;
  text-decoration: none;
  border-bottom: 1px solid #e45772;
}

.quick-sell__aside button {
  margin: 1.4rem auto .3rem auto;
  font-size: 1.125rem;
  padding: .6rem 1rem;
  color: #f5f3f0;
  background: #c56c76;
  border: 1px solid #c56c76;
  border-radius: 8px;
  text-shadow: none;
}

.quick-sell__aside button:hover,
.quick-sell__aside button:active {
  background: #d9818b;

}


.clearfix {
  clear: both;
  margin: 0;
  padding:0;
}

.second-part {
  width: 100%;
  margin:auto;
}

.full-descrip {
  width: 100%;
  max-width: 61rem;
  margin: auto;
  height: 100%;
  text-align: center;
}

.full-descrip h2 {
  color: #5c626a;
  text-align: left;
  margin-left: 2rem;
  font-size: 1.6rem;
}

.full-descrip__grid-container {
  display: grid;
  grid-template-columns: 100%;
  /* grid-template-rows: 30vh 30vh; */
}

.full-descrip__grid-section {
  margin: .5rem 1.5rem;
}


.full-descrip__bio {
  display: inline-block;
  text-align: right;
  vertical-align: top;
  height: 100%;
  width: 25%;

}

.bio-headshot {
  display: inline-block;
  text-align: right;
  width: 100%;
  height: 100%;
  margin: 0;
}

.bio-headshot a {
  text-align: right;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.bio-headshot img{
  border-radius: 8px;
  width: 70%;
  height: 60%;
}



.full-descrip__text {
  display: inline-block;
  width: 70%;
  text-align: left;
  font-size: 1.2rem;
  padding: .3rem;
  line-height: 1.6rem;
  color:#797166;
}

.bio__text {
  display: inline-block;
  text-align: left;
  width: 100%;
  margin:.5rem 0 0 .5rem;
  text-decoration: none;
}

.bio__name {
  text-decoration: none;
  color: #797166;
  font-size: 1.2rem;
  margin: 0 0 .3rem 0;
}

.bio__title {
  text-decoration: underline;
  width: 100%;
  font-size: 1.3rem;
  color: #c56c76;
  margin-top: .3rem;
}

.title-special {
  font-size: 1.2rem;
}

.full-descrip__text p {
  margin-top: 0;
}

.special_aside {
  width: 38%;
  margin: auto;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, .4);
}

.main-footer {
  /* position: absolute; */
  /* bottom: 0; */
  margin: 1rem auto 0 auto;
  text-align: center;
  vertical-align: top;
  width: 100%;
  max-width: 61rem;
  height: 22vh;
  background-color: #51525a;
  padding: 1rem;
}

.main-footer__text {
  display: inline-block;
  width: 40%;
  color: #ccccd1;
  text-align: left;
  vertical-align: top;
  line-height: 1.5;
  font-size: .875rem;
}

.main-footer__text a {
  color: #ea6977;
}

.main-footer img {
  height: 25%;
  width: 25%;
}

@media (max-width: 46rem) {

  .main-header {
    height: 100vh;
  }

  .logo__container {
    height: 57vh;
  }

  .logo__subtitle {
    font-size: 1.4rem;
  }

  .quick-sell__list-cotainer {
    width: 100%;
    margin: auto;
  }

  .quick-sell__list-cotainer h3 {
    margin-left: .5rem;
  }

  .quick-sell__aside-container {
    display: none;
  }


  .first-part {
    height: 130vh;
  }

  .quick-sell__aside button {
    display: block;
  }

  .special_aside {
    display: inline-block;
    width: 80%;
  }

  .main-footer {
    height: 49vh;
    font-size: .8rem;
    padding: 0;
  }

}


@media (max-width: 40rem) {

  .main-header {
    height: 100vh;
  }

  .logo__container {
    height: 65vh;
  }

  .logo__container a {
    margin: 6.3rem 0 1.2rem 0;
  }

  .logo__container img {
    width: 70%;
  }

  #logo_subtitle-container {
    height: 35vh;
  }

  .logo__subtitle {
    font-size: 1.7rem;
  }

  .quick-sell__list-cotainer {
    width: 100%;
    margin: auto;
    text-align: center;
  }

  .quick-sell__list-cotainer h3 {
    margin-left: .5rem;
  }

  .quick-sell__aside-container {
    display: none;
  }


  .first-part {
    height: 125vh;
  }

  .full-descrip__grid-section {
    margin: 0;
  }

  .full-descrip__bio {
    width: 20%;
  }

  .full-descrip__text {
    width: 75%;
  }

  .bio-headshot img {
    height: 100%;
    width: 100%;
  }

  .special_aside {
    display: inline-block;
    width: 80%;
  }


  .main-footer {
    height: 44vh;
    font-size: .5rem;
    padding: 0;
  }

}
